# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled executables
*.exe

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Windows debug files
*.tlog
*.idb
*.pdb
*.suo
*.lib
*.user
*.log
*.cache
*.sdf
*.sbr
*.lastbuildstate
*.opensdf
*.bsc
*.unsuccessfulbuild
*.ilk
*.exp
*.rc
*.res
*.manifest

# GNU Autotools
Makefile.in
Makefile

aclocal.m4
autom4te.cache
bzflag.info
bzflag.lsm
bzflag.spec
compile
/config.*
configure
depcomp
/include/config.h
/include/config.h.in
/INSTALL
install-sh
libtool
libtool.m4
ltmain.sh
ltmain.sh.backup
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
/misc/config.*
missing
mkinstalldirs
stamp-h
stamp-h.in
stamp-h1
stamp-h2
stamp-h3
work

.deps
.libs

# Binaries
/misc/3ds2bzw
/misc/rrlog
/src/bzadmin/bzadmin
/src/bzflag/bzflag
/src/bzfs/bzfs
/tools/modeltool/modeltool
/bin_Win32/*
/bin_x64/*

# Curl and ares
/src/other/ares/acountry
/src/other/ares/adig
/src/other/ares/ahost
/src/other/ares/ares_*.pdf
/src/other/ares/ares_build.h
/src/other/ares/ares_config.h
/src/other/ares/ares_config.h.in
/src/other/ares/libcares.pc
/src/other/curl/curl-config
/src/other/curl/docs/*.html
/src/other/curl/docs/*.pdf
/src/other/curl/docs/libcurl/*.html
/src/other/curl/docs/libcurl/*.pdf
/src/other/curl/include/curl/curlbuild.h
/src/other/curl/lib/curl_config.h
/src/other/curl/lib/curl_config.h.in
/src/other/curl/libcurl.pc
/src/other/curl/src/curl_config.h
/src/other/curl/src/hugehelp.c
/src/other/*/config.guess
/src/other/*/config.status
/src/other/*/config.sub

# Misc
*.diff
*.patch
/man/*.5
/man/*.6
/man/*.gz
/man/*.html
/misc/bzflag.desktop
/src/platform/MacOSX/BZFlag-Info.plist

/MSVC/ipch

# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Xcode cruft
/Xcode/BZFlag.xcodeproj/xcuserdata
/Xcode/BZFlag.xcodeproj/project.xcworkspace
