.auto
.deps
.libs
Makefile.in
Makefile
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
ftgl.pc
libtool
stamp-h1
*.o
*.lo
*.la
demo/FTGLDemo
demo/FTGLMFontDemo
test/CTest
test/CXXTest
docs/stamp-*
docs/doxygen.cfg
docs/html
docs/latex
