[Desktop Entry]
Name=BZFlag
GenericName=Tank Battle Game
Comment=Battle enemy tanks
Exec=/usr/games/bzflag
Icon=bzflag-48x48
Type=Application
Categories=Game;ActionGame;3DGraphics;
