<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>WebStats for [$HostName]</title>
  <style type="text/css">
    html {
      background-color: #000033;
      color: #FFFFFF;
      font-family: sans-serif;
    }
    h1 { font-size: 18pt; }
    h2 {
      font-size: 14pt;
      padding: 0;
      margin: 0 0 10px;
      border-bottom: 1px black dotted;
    }
    ul { margin-top: 0; margin-bottom: 0; }
    p { margin: 0 0 1em 0; }
    section, article, footer { display: block; }
    section {
      margin: 0 20px 20px 20px;
    }
    article {
      color: black;
      padding: 10px;
      background: #9CAAC6;
      margin-bottom: 10px;
      -webkit-border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border-radius: 5px;
    }
    th { font-weight: bold; }
    th, td { padding: 3px; border: 1px solid black; }
    footer {
      font-size: 10pt;
      font-style: italic;
      text-align: center;
    }
    /* Team colors */
    .Red { background-color: #FF6347; }
    .Blue { background-color: #6495ED; }
    .Green { background-color: #7FFF00; }
    .Purple { background-color: #EE82EE; }
    .Rogue { background-color: #FFFF00; }
    .Observer { background-color: white; color: #666666; }
    .Rabbit { background-color: #999999; color: white; }
    .Hunter { background-color: #FFA500; }
  </style>
</head>
<body>
  <h1>WebStats on [$HostName]</h1>
  