[!header.tmpl]

<section>
  <article>
    <h2>Stats for [$Callsign]</h2><br>
    <p><span class="[$TeamName]">[$TeamName]</span> [$Wins]/[$Losses]([$TeamKills]) [$Status]</p>
    <a href="[$BaseURL]">Back to overview</a>
  </article>
</section>

[!footer.tmpl]
