[!header.tmpl]
  <section>
    <article>
      <h2>Current Players</h2>
      [?IF Players]
      <table>
        <tr><th>Callsign</th><th>Team</th><th>Score (Wins/Losses)</th><th>TKs</th><th>Status</th></tr>
        [*START Players]
        <tr class="[$TeamName]">
          <td><a href="[$baseurl]?action=player&amp;playerid=[$playerid]">[$Callsign]</a></td>
          <td>[$TeamName]</td>
          <td>[$Score] ([$Wins]/[$Losses])</td>
          <td>[$TeamKills]</td>
          <td>[$Status]</td>
        </tr>
        [*END Players]
        [*EMPTY Players]
      </table>
      [?END Players]
    </article>

    <article>
      <h2>Server Info</h2>
      Uptime: [$Uptime]<br />
      Data In: [$DataInMB] MB<br />
      Data Out: [$DataOutMB] MB<br />
      Unique player since startup: [$UniquePlayers]<br />
    </article>
  </section>

[!footer.tmpl]