[!header.tmpl]
  <h2>editing banlist</h2>
  
  <form action="" method="post">
    <ul class="banlist" id="ipbanlist">
[*START IPBanList]
      <li><input type="checkbox" id="ipban_[$BannedUser]"
                 name="delip" value="[$BannedUser]"/>
        <label for="ban_[$BannedUser]">[$BannedUser]</label></li>
[*END IPBanList]
    </ul>
    
    <ul class="banlist" id="idbanlist">
[*START IDBanList]
      <li><input type="checkbox" id="idban_[$BannedUser]"
                 name="delid" value="[$BannedUser]"/>
        <label for="idban_[$BannedUser]">[$BannedUser]</label></li>
[*END IDBanList]
    </ul>
    
    <input type="submit" value="remove" />
  </form>
</body>
</html>
