[!header.tmpl]
[- This is a very minimal permissions interface and may be
   extended later to include other features of groupdb files.]
[?IF Editing]
  <h2>editing group: [$GroupName]</h2>
  
  <form id="group_edit" action="" method="post">
    <ul class="perms">
[*START Permissions]
      <li><input type="checkbox" id="perm_[$Permission]"
                 name="perm" value="[$Permission]">
        <label for="perm_[$Permission]">[$Permission]</label></li>
[*END Permissions]
      <li>No permissions!?</li>
[*EMPTY Permissions]
    </ul>
    <input type="hidden" name="name" value="[$GroupName]">
    <input type="submit" value="save">
  </form>
[?ELSE Editing]
  <h2>group list</h2>
  
  <form id="group_delete" action="" method="get">
    <ul>
[*START Groups]
      <li><input type="checkbox" id="group_[$GroupName]"
                 name="delgroup" value="[$GroupName]" checked="[$Checked]"/>
        <label for="group_[$GroupName]">[$GroupName]</label>
        <a class="edit" href="?name=[$GroupName]">edit</a></li>
[*END Groups]
      <li>No groups!</li>
[*EMPTY Groups]
    </ul>
    <input type="submit" value="delete">
  </form>
  
  <form id="group_new" action="" method="get">
    <input type="text" name="name">
    <input type="submit" value="new">
  </form>
[?END Editing]
</body>
</html>
