<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>[$PluginName] for [$HostName] &mdash; [$CurrentPageTitle]</title>
  <style type="text/css" media="screen">
    h1, h2, h3 { text-transform: lowercase; }
    .error { color: red; }
    #current_players { float: right; padding-right: 2em; }
  </style>
  
[-This header is intended to be included in the main header, it contains the page start and the start of the head tag.]
