</head>
<body>
<div id="outerFrame">
<div id="logoImg"></div>
<div id="topBarImg"></div>
    
[!navbar.tmpl]
[$UserName]@[$HostName]/[$PluginName]

[-This header is intended to be included in other templates. it contains the end of the header and the navbar]
