</head>
<body>
<h1><a href="[$BaseURL]">[$UserName]@[$HostName]/[$PluginName]</a></h1>
[!navbar.tmpl]

[-This header is intended to be included in other templates. it contains the end of the header and the navbar]
