<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>[$PluginName] for [$HostName] &mdash; [$CurrentPageTitle]</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  
[-This header is intended to be included in the main header, it contains the page start and the start of the head tag.]
