<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <title>[$PluginName] for [$HostName] &mdash; [$PageName]</title>
</head>
<body>
  <h1><a href="[$BaseURL]">[$UserName]@[$HostName]/[$PluginName]</a></h1>
[?IF Error]
  <p class="error">[$Error]</p>
[?END Error]

[-This header is meant to be included in other templates.]