[!header.tmpl]
  <h2>main</h2>
  <form action="" method="post">
    <ul>
[*START Players]
      <li><input type="checkbox" id="player_[$Callsign]"
                 name="kick" value="[$Callsign]" />
        <label for="player_[$Callsign]">[$Callsign]</label></li>
[*END Players]
    </ul>
    <input type="submit" value="kick" />
  </form>
</body>
</html>
